VITE_CORE_API_URL=/api/core
VITE_AUTH_PROVIDER=entra
VITE_AZURE_TENANT_ID=
VITE_AZURE_CLIENT_ID=
VITE_AZURE_REDIRECT_URI=http://localhost:8080
VITE_AZURE_POST_LOGOUT_REDIRECT_URI=http://localhost:8080
VITE_AZURE_API_SCOPE=api://<CORE_API_CLIENT_ID>/access_as_user
